body {
  font-family: 'Roboto', sans-serif;
  background-color: #628395;
  margin: 0;
  color: white;
}

hr {
  background-color: #FFE652;
  border-style: none;
  border-top-style: none;
  height: 2px;
  width: 100%;
}

div {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
}

.top-container {
  background-color: #262A53;
  font-size: xx-large;
  border: solid 10px;
  border-color: #FFA0A0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 2px;
}

.middle-container {
  background-color: #262A53;
  font-size: x-large;
  margin-top: 50px;
  border: solid 10px;
  border-color: #FFA0A0;
}

.bottom-container {
  background-color: #262A53;
  color: white;
  font-size: x-large;
  margin-top: 50px;
  border: solid 10px;
  border-color: #FFA0A0;
}

.smalltype {
  font-size: small;
}

.hello {
  position: absolute;
  width: 200px;
  height: 60px;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -30px;
  background-color: #262a53;
  color: white;
  text-align: center;
}

.hellox {
  position: absolute;
  width: 200px;
  height: 60px;
  left: 50%;
  margin-left: -100px;
  top: 60%;
  margin-top: -30px;
  background-color: #FFA0A0;
  color: white;
  text-align: center;
}
